{% load static %}
<!DOCTYPE html>
<html>
  <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'style.css' %}">
  </head>
<style>
.banner{
    background-color:burlywood;
    width:100%;
    height:200px;
    margin-bottom:50;
      }
 .banner-text{
       top:50%;
       left:45%;
       position:absolute;
       transform:transform;
       }
</style>
<body>
   {% block content %}
   {% endblock %}
</body>
</html>